<div id="Footer">
	<div class="footer-elem">
        <div class="ft-left">
            <ul class="friend-link">
                <li><a href="http://www.mayinglong.cn/" target="_blank">马应龙药业集团</a><span>|</span></li>
                <li><a href="http://www.whchn.com/" target="_blank">武汉茶花女</a><span>|</span></li>
                <li><a href="http://myimy.jd.com/" target="_blank">马应龙京东店</a><span>|</span></li>
                <li><a href="http://mayinglongdk.tmall.com/" target="_blank">马应龙天猫店</a></li>
            </ul>
        </div>
		<div class="ft-right">
            <ul class="weixin">
                <li style="display:none"><span>|</span><a class="wx-elem" data-img="wx-2">茶花女微信号</a></li>
                <li><a class="wx-elem" data-img="wx-1">马应龙微信号</a></li>
            </ul>
            <div class="net-icon" style="display:none">
                <a href="{SITE_PATH}index.php?s=member&c=login" target="_blank"><img src="{SITE_THEME}style/image/weixin.jpg"></a>
                <a href="http://t.qq.com/whchn2011" target="_blank"><img src="{SITE_THEME}style/image/tweibo.jpg"></a>
                <a href="http://weibo.com/u/2478183701" target="_blank"><img src="{SITE_THEME}style/image/weibo.jpg"></a>
            </div>
        </div>
	</div>
	<div class="footer-sub">
        <div class="ft-left">
    		<ul class="ft-nav">
                <li><a href="{SITE_URL}index.php?a=about">品牌故事</a><span>|</span></li>
                <li><a href="{SITE_URL}index.php?a=about&cc=10">关于我们</a><span>|</span></li>
                <li><a href="{SITE_URL}index.php?a=about&cc=11">联系方式</a><span>|</span></li>
                <li style="display:none"><a href="" target="_blank">备案信息</a><span>|</span></li>
                <li style="display:none"><a href="" target="_blank">销售地图</a><span>|</span></li>
                <li style="display:none"><a href="{SITE_PATH}index.php?s=member&c=login">用户登录</a><span>|</span></li>
                <li><a href="http://d.whchn.com/" target="_blank">G＆C DRP</a><span></span></li>
            </ul>
        </div>
        <div class="ft-right">
            <div class="copyright">© 2015  湖北马应龙护理品有限公司版权所有</div>
        </div>
	</div>
    <div class="footer-tpl" style="display:none">
        <div class="tpl-weixin">
            <div class="tpl-wx wx-1"><img src="{SITE_THEME}style/image/wx-1.jpg"></div>
            <div class="tpl-wx wx-2"><img src="{SITE_THEME}style/image/wx-2.jpg"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{SITE_THEME}js/footer.js"></script>